[Desktop Entry]
Type=Application
Version=1.0
Name=Synapse-Like
Comment=Open-source Synapse-like for Linux
Exec=synapse-like
Icon=synapse-like
Terminal=false
Categories=Settings;Utility;
Keywords=Razer;Synapse;Keyboard;Mouse;Remap;
StartupNotify=true
StartupWMClass=Synapse-Like
